<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/public/output.css"/>
    <link rel="icon" type="image/png" href="/images/tasks_ok_apply_1843.png"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>TodoApp - Sign Up</title>
  </head>
  <body class="bg-zinc-50 min-h-screen flex flex-col">
    <nav id="navbar" class="fixed top-0 right-0 left-0 h-16 px-4 border border-gray-300 bg-white shadow-md"></nav>
    <div id="notification" class="fixed z-50 text-center top-20 right-0 mx-4 py-5 transition ease-in-out duration-700 opacity-0 translate-x-5 pointer-events-none"></div>
    <main class="flex-1 flex items-center pt-12 md:pt-16 h-screen w-full">
      <div class="flex flex-col md:flex-row max-w-7xl my-auto w-full mx-auto justify-center md:justify-evenly items-center px-4 py-6 md:py-0">
        <div class="flex flex-col gap-2 my-8 md:my-0 max-w-sm pr-8 text-center md:text-start">
          <h1 class="text-2xl md:text-5xl font-extrabold tracking-tight text-blue-700 mb-2">Start today</h1>
          <p class="text-md md:text-lg text-zinc-700 font-normal leading-relaxed">Clear your mind. We'll remember the rest. <br/>Organize your daily tasks effortlessly.</p>
        </div>
        <form id="form" class="flex p-3 flex-col gap-2 bg-gray-300/20 rounded-lg text-lg shadow-xl max-w-md lg:w-2/4 outline-gray-700 border border-gray-300">
          <div class="flex flex-col gap-2">
            <label class="font-medium" for="username-input">Username <span class="text-red-500">*</span></label>
            <input id="username-input" type="text" name="username-input" autocomplete="off" placeholder="Enter your username" class="rounded-lg p-2 bg-zinc-50 border"/>
            <p class="text-xs text-zinc-800">Username must contain at least 5 characters</p>
          </div>
          <div class="flex flex-col gap-2">
            <label class="font-medium" for="email-input">Email <span class="text-red-500">*</span></label>
            <input id="email-input" type="text" name="email-input" autocomplete="off" placeholder="example@gmail.com" class="rounded-lg p-2 bg-zinc-50 border"/>
            <p class="text-xs text-zinc-800">Valid email is required</p>
          </div>
          <div class="flex flex-col gap-2">
            <label class="font-medium" for="password-input">Password <span class="text-red-500">*</span></label>
            <div class="password-wrapper group relative w-full">
              <input id="password-input" type="password" name="password-input" autocomplete="off" placeholder="Enter your password" class="rounded-lg p-2 pr-10 bg-zinc-50 border w-full"/>
						  <span class="toggle-password absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-zinc-400 hover:text-zinc-600" data-target="password-input">
							  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye block group-[.is-visible]:hidden" viewBox="0 0 16 16">
  							  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
  								<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
							  </svg>
							  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash hidden group-[.is-visible]:block" viewBox="0 0 16 16">
  								<path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
  								<path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
  								<path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
							  </svg>
						  </span>
					  </div>
            <p class="text-xs text-zinc-800">Min. 8 characters, 1 capital, 1 number, 1 symbol (!@#$%^&*)</p>
          </div>
          <div class="flex flex-col gap-2">
            <label class="font-medium" for="password-input">Confirm password <span class="text-red-500">*</span></label>
            <div class="password-wrapper group relative w-full">
              <input id="match-password" type="password" name="match-input" autocomplete="off" placeholder="Enter same password" class="rounded-lg p-2 pr-10 bg-zinc-50 border w-full"/>              
              <span class="toggle-password absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-zinc-400 hover:text-zinc-600" data-target="match-password">
							  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye block group-[.is-visible]:hidden" viewBox="0 0 16 16">
  								<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
  								<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
							  </svg>
							  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash hidden group-[.is-visible]:block" viewBox="0 0 16 16">
  								<path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
  								<path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
  								<path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
							  </svg>
						  </span>
					  </div>
            <p class="text-xs text-zinc-800">Passwords must match</p>
          </div>
          <button id="form-btn" class="bg-blue-400 py-2 rounded-lg px-4 font-bold text-white hover:bg-blue-500 text-center transition ease-in-out disabled:opacity-40 disabled:cursor-not-allowed cursor-pointer border border-blue-600" disabled>Sign up</button>
        </form>
      </div>
    </main>
    <script type="module" src="index.js"></script>
    <script src="/components/navbar.js"></script>
    <script type="module" src="/components/notification.js"></script>
    <script src="/components/footer.js"></script>
    <script src="/helpers/togglePasswords.js"></script>
  </body>
</html>
