<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/public/output.css"/>
    <link rel="icon" type="image/png" href="/images/tasks_ok_apply_1843.png"/>
    <title>ToDoApp</title>
  </head>
  <body class="bg-zinc-50 min-h-screen flex flex-col">
    <nav id="navbar" class="fixed top-0 right-0 left-0 h-16 px-4 border border-gray-300 bg-white shadow-md"></nav>
    <main class="grow flex min-h-[calc(100vh-4rem)] items-center justify-center pt-8 md:pt-16 :px-4">
      <div class="flex flex-col md:flex-row items-center justify-between w-full max-w-6xl mx-auto px-8 md:px-6 gap-12 py-8">
        <div class="flex flex-col gap-6 w-full md:w-1/2 items-center md:items-start text-center md:text-left shrink-0">
          <h1 class="text-blue-700 text-3xl sm:text-4xl md:text-5xl tracking-tight font-extrabold leading-tight">Your day, Organized.<br/>Your life, Simplified.</h1>
          <p class="text-zinc-600 text-sm sm:text-base md:text-lg font-medium leading-relaxed max-w-md md:max-w-none">Master your day, one task at a time.<br class="hidden md:flex"/>Take control of your tasks, projects and goals.</p>
          <div>
            <a href="../signup/index.html" class="flex rounded-lg font-bold text-white bg-blue-600 hover:bg-blue-700 px-8 py-4 shadow-md transition transform active:scale-95 cursor-pointer text-base sm:text-lg">Start Now Free</a>
          </div>
        </div>
        <div class="w-full md:w-1/2 flex justify-center md:justify-end shrink-0">
          <div class="w-full max-w-md aspect-4/3 p-8 border border-zinc-300 rounded-xl flex justify-center items-center bg-zinc-100/50 shadow-inner">
            <p class="text-zinc-400 font-medium">placeholder for image</p>
          </div>
        </div>
      </div>
    </main>
    <script src="/components/navbar.js"></script>
  </body>
</html>